.backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: rgba(44, 39, 39, 0.4);
  opacity: 0;
  display: flex;
  align-items: center;
}

.active {
  opacity: 1;
}

.wrapper {
  max-height: 100%;
  width: 100%;

  overflow-y: auto;
  padding: 40px 10px;
}
