.wrapper {
  position: relative;
  margin-bottom: 14px;
}
.input {
  width: 100%;
  height: 56px;

  display: flex;
  padding: 18px;

  color: var(--color-font-main);
  font-size: inherit;

  border-radius: 10px;
  border: none;

  background-color: var(--color-main-bg);
}

.input::placeholder {
  color: var(--color-font-main-blur);
}

.input:focus,
.input:focus-visible {
  outline: none;
}

.icon {
  fill: transparent;
  stroke: var(--color-font-main);
  position: absolute;
  right: 18px;
  top: 50%;
  transform: translateY(-50%);
}
.icon + .input {
  padding-right: 48px;
}
