.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  padding: 25px 0;
}
.navList {
  display: flex;
  gap: 10px;
}
.navLink {
  padding: 10px;
  font-weight: 700;
  transition: opacity var(--transition-setting);
}
.navLink:hover {
  opacity: 0.7;
}
.active {
  color: var(--color-button-hover);
}

.logo {
  display: flex;
  gap: 20px;
  align-items: center;
}

.icon {
}

.logoTitle {
  font-size: 24px;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
}
