.container {
  min-height: 100vh;
  max-width: 1342px;
  margin: auto;
  padding: 0 15px 100px;
}

/* @media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 32px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    flex-direction: row;
    gap: 32px;
    max-width: 1440px;
  }
} */
