@import url("./styles/variables.css");
@import url("./styles/reset.css");

body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;

  color-scheme: light dark;
  color: var(--color-font-main);
  background-color: var(--color-white);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: overlay;
}

/* * {
  scrollbar-width: none;
  scrollbar-color: #323f47 #ffffff;
}

*::-webkit-scrollbar {
  padding: 0;
  width: 10px;
  height: 0;
}

*::-webkit-scrollbar-track {
  background: #f1f1f1;
}

*::-webkit-scrollbar-thumb {
  background-color: #323f47;
  border-radius: 10px;
  border: 3px solid #ffffff;
} */

/* *::-webkit-scrollbar {
  width: 20px;
}

*::-webkit-scrollbar-thumb {
  background: var(--color-main-bg);
  border-radius: 30px;
  cursor: pointer;
  border: 7px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
} */
